REF_GENOME=/ifs/data/bio/Genomes/H.sapiens/GRCh37/GRCh37.fasta
BAIT_INTERVAL=/ifs/res/IGO/resources/IDT_Exome_v1_FP/b37/IDT_Exome_v1_FP_b37_baits.interval_list
TARGET_INTERVAL=/ifs/res/IGO/resources/IDT_Exome_v1_FP/b37/IDT_Exome_v1_FP_b37_targets.interval_list
DRAGEN_BED=/staging/bed/IDT_Exome_v1_FP_TARGETS.bed
